@import "tailwindcss";

@font-face {
  font-family: samsung-bold;
  src: url(./assets/font/samsungsharpsans-bold.otf);
}

@font-face {
  font-family: samsung-medium;
  src: url(./assets/font/samsungsharpsans-medium.otf);
}

@font-face {
  font-family: dm_sans;
  src: url(./assets/font/DMSans-Medium.ttf);
}

@theme {
  --font-samsung-bold: samsung-bold;
  --font-samsung-medium: samsung-medium;
  --font-dm_sans-medium: dm_sans;
}
